$cwa-footer-height: 48px
> footer
	position: absolute
	bottom: 0px
	left: 0px
	+header-height($cwa-footer-height)
	width: 100%
	background-color: rgba(#111, 0.8)
	ul
		+header-height($cwa-footer-height)
		list-style: none
		li
			+header-height($cwa-footer-height)
			margin: 0px 4px
			font-family: Dosis, Helvetica, sans-serif
			color: rgba(#fff, 0.7)
			float: left
			text-shadow: 1px 1px 3px #000
			a
				+header-height($cwa-footer-height)
				color: white
				width: 40px
				text-align: center
				font-size: 24px
				&:hover
					background-color: rgba(#fff, 0.1)
			img, svg
				margin: 4px 0px
				height: 32px
	&.left li:first-child
		margin-left: 0px
	&.right li:last-child
		margin-right: 0px
