> header
	+header-height(64px)
	width: 100%
	background: rgba(#333, 0.7)
	h1
		+header-height(64px)
		position: absolute
		width: 340px
		left: calc(50% - 170px)
		font-family: Dosis, Helvetica, sans-serif
		font-size: 42px
		font-weight: 500
		text-align: center
		color: white
		span
			font-size: 24px
			font-style: italic
			font-family: 'Open Sans'
	ul
		+header-height(64px)
		list-style: none
		li
			+header-height(64px)
			margin: 0px 4px
			font-size: 18px
			font-family: Dosis, Helvetica, sans-serif
			color: rgba(#fff, 0.7)
			float: left
			a
				+header-height(64px)
				width: 64px
				font-size: 28px
				cursor: pointer
				color: white
				text-align: center
				&:hover
					background: rgba(#aaa, 0.3)
				&.active
					background: rgba(#aaa, 0.1)
		&.left li:first-child
			margin-left: 0px
		&.right li:last-child
			margin-right: 0px
