
$chat-width: 420px

#ui
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	width: 100%
	height: 100%
	background: url('../assets/background.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	@import 'header'
	@import 'stream'
	@import 'footer'
