.stream
	position: absolute
	top: 64px
	bottom: 48px
	left: 0px
	right: 0px
	width: 100%
	border: 1px solid #111
	box-sizing: border-box
	.videos
		+reset
		padding: 4px
		width: 240px
		height: 100%
		position: absolute
		top: 0px
		left: 0px
		background: rgba(#000, 0.9)
		list-style: none
		+scrollbar(4px, #333, 2px solid #333)
		li
			+reset
			display: block
		figure
			+reset
			position: relative
			display: block
			cursor: pointer
			img
				width: 100%
			figcaption
				position: absolute
				padding: 4px
				top: 0px
				left: 0px
				font-size: 12px
				color: white
				background: rgba(#333, 0.7)
	iframe
		+reset
		width: $chat-width
		height: 100%
		position: absolute
		top: 0px
		right: 0px
	.video-container
		+reset
		width: calc(100% - #{$chat-width})
		height: 100%
		position: absolute
		background: #000
		top: 0px
		left: 0px
		.video-info
			+header-height(36px)
			padding: 0px 8px
			position: absolute
			top: 0px
			right: 0px
			background: rgba(#000, 0.9)
			color: white
			font-family: Dosis, Helvetica, sans-serif
			z-index: 99
			opacity: 0.8
			&:hover
				opacity: 1
		.video-js
			+reset
			width: 100%
			height: 100%
			position: absolute
			top: 0px
			left: 0px
