doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(property="og:title", content="Code with Alex Live Stream")
		meta(property="og:video", content="https://stream.initlab.org/hls/live/codewithalex.m3u8")
		meta(property="og:image", content="./assets/livecoding-screenshot.png")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Code with Alex
		link(rel="stylesheet", href="sass/style.sass")
	body!= content || '<section id="ui"></section>'
		script(src="js/index.js", type="module")
